/* mostly by schleale 
Notes:  .name         for class="name"
        .name.name2    for class="name name2"
        .name .name2   for class="name" ... any child="name2"
        .name > .name   for class="name" ... direct child="namw2"
        .name > *       for class="name" ... any direct child */

/* Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-size: 14px;

  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  /* size for screens >768px wide, aka basically standard size*/
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #e61d47;
  outline-offset: 2px; /* space between button and outline */
}
.btn-outline-dark {
  text-wrap: nowrap;
  border-radius: 11px;
}
button:focus {
  outline: 2px solid #e61d47;
  outline-offset: 2px; /* Optional: space between button and outline */
}

body {
  /* set font globally */
  font-family: 'Open Sans', sans-serif !important;
  background-image: linear-gradient(to right, #f9f6f6, #dccfd3);
}
body.sopro-special-bg {
  background-image: linear-gradient(to right, #ff0844, #ffb199);
}

p {
  margin: 0;
}

a {
  color: #e61d47;   /* url link color */
}
a:hover {
  color: #ffb199;   /* url link hover color */
}

.sopro-waiting-cur * {
  cursor: wait !important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* custom drop shadow + round corners */
.sopro-card {
  box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.2) !important;
  border-radius: 11px;
  background-color: white;
  min-height: 0;  /* to allow scrollbars */
  height: 100%;

  /* hide scrollbar overflow */
  overflow: hidden;
}
.sopro-card.big-header {
  display: grid;
  grid-template-rows: 4.688rem 1fr; /* "100" px header bar */
}
.sopro-card.small-header {
  display: grid;
  grid-template-rows: 3.516rem 1fr; /* "75" px header bar */
}
.sopro-card .header {
  display: flex;
  align-items: center;
  padding-left: 1.172rem; /* "25" px */
  padding-right: 1.172rem; /* "25" px */

  width: 100%;
  height: 100%;
}
.sopro-card .header.thiccboi {
  color: #e61d47;
  font-weight: 900;  /* oh boi he thicc */
  font-size: 1.406rem;  /* "30" px */
  overflow: hidden;
}

.sopro-inner-card {
  box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 0.07);
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;

  background-color: #f2f2f2;
  overflow: hidden;

  border: none;
}
.sopro-inner-card.flex {
    /* alignment */
    display: flex;
    flex-direction: column; /* only vertically */
    align-items: flex-start;  /* align left */

    row-gap: 1rem;  
    padding: 1.172rem;  /* "25" px */

    /* scrollability */
    height: 100%;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: #626262 transparent;
}
/* other scrollbar stuff, for chrome, safari & edge */
.sopro-inner-card::-webkit-scrollbar {
  width: 7px;
}
.sopro-inner-card::-webkit-scrollbar-thumb {
  background-color: #626262;
  border-radius: 11px;
}
.sopro-inner-card::-webkit-scrollbar-track {
  background-color: transparent;
}



.sopro-card-filter {
    display: flex;
    align-items: center;      /* vertikale Zentrierung */
    justify-content: center;  /* horizontale Zentrierung */
    height: 60px;             /* feste Höhe statt min-height */
    padding: 0 1rem;
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.2);
    border-radius: 11px;
    background-color: white;
    min-height: 0;  /* to allow scrollbars */
    height: 100%;
    width: 100%;
  
    /* hide scrollbar overflow */
    overflow: hidden;
}

.filter-bar {
    display: flex;
    align-items: center;
    height: auto;  
    justify-content: center;
    border: 1px solid black;
    border-radius: 11px;
    overflow: hidden;
    width: 100%;
}

.filter-tab {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.2rem;

    border-right: 1px solid black;
    background: white;

    color: black;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    width: 100%;
}
.filter-tab:last-child {
    border-right: none;
}
.filter-tab:hover {
    background: #f8f9fa;
    color: black;
    text-decoration: underline;
}
.filter-tab.active {
    background: #ffe3e3;
    color: #e61d47;
}
.filter-tab.active:hover {
    background: #ffe3e3;
}

.filter-tab.filter-tab-select {
    padding: 0;
}

.select-wide-filter {
    background-color: white;
    color: #000000;
    font-weight: 900;

    padding: 0.6rem 1.2rem;
    
    border: none;
    width: 100%;
}


.sopro-grid-management {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;  /* "100" px header, fill rest */

  height: calc(100vh - 3.516rem);   /* 100% of viewport height - navbar height */

  padding: 3.516rem;    /* "75" px distance to screen edges and navbar*/
  column-gap: 2.344rem; /* "50" px */
  row-gap: 1.172rem;    /* "25" px */

  max-width: calc(1920px - 3.516rem - 3.516rem);
  margin: 0 auto;
}

.sopro-grid-management.navigation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.8752rem 75px 1fr;  /* "40" px navigation "100" px header, fill rest */
  
  padding-top: 0.4688rem;    /* "10" px distance to navbar */
  padding-left: 3.516rem;    /* "75" px distance to screen edge*/
  padding-right: 3.516rem;    /* "75" px distance to screen edge*/
  padding-bottom: 3.516rem;    /* "75" px distance to screen edge*/
  column-gap: 2.344rem; /* "50" px */
  row-gap: 1.172rem;    /* "25" px */
}

/* splits the "100"px bar at the top */
.sopro-grid-management .split-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  column-gap: 2.344rem; /* "50" px */
}

.sopro-btn, a.sopro-btn:link, a.sopro-btn:visited {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;

    margin-left: 0.2344rem; /* "5" px */
    margin-right: 0.2344rem; /* "5" px */

    padding-left: 1.172rem; /* "25" px */
    padding-right: 1.172rem; /* "25" px */

    text-decoration: none;
    white-space: nowrap;
}

.sopro-button-content {
  height: 2.4rem !important;
  min-width: 5.859rem !important; /* "125" px */
  cursor: pointer;
  
  font-size: 1rem !important; /* "20" px */
  font-weight: 900 !important;
  color: white;

  border-radius: 11px !important;
  background-color: #e61d47;
  border: none;
  transition: background-color 0.2s ease;
}
a.sopro-button-content:link, a.sopro-button-content:visited {
    color: black;
}
.sopro-button-content:disabled {
  background-color: #afafaf;
  cursor: not-allowed;
}

.sopro-button-header {
  height: 2.813rem !important;  /* "60" px */
  min-width: 7.031rem !important; /* "150" px */
  cursor: pointer;

  font-size: 1.406rem !important; /* "30" px */
  font-weight: 900 !important;
  color: #ffffff;

  border-radius: 11px !important;
  background-color: #e61d47 !important;
  border: none !important;
  transition: background-color 0.2s ease;
}
a.sopro-button-header:link, a.sopro-button-header:visited {
    color: #ffffff;
}
.sopro-button-content, .sopro-button-header {
  transition: transform 0.2s ease, filter 0.2s ease;
}
.sopro-button-content:hover, .sopro-button-header:hover {
  filter: brightness(0.94);
  transform: scale(1.05);     /* Grow */
  box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.2);
  
  color: white;         /* something from bootstrap overwrites the color otherwise */
}

.sopro-button-navigation {
  height: 2.5784rem !important;  /* "55" px */
}

.sopro-btn-prim {
    background-color: #e61d47 !important;
}

.sopro-btn-sec {
    background-color: #ffb199 !important;
}

/* NAVBAR STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* overall container */
.navbar.sopro-navbar {
    /* !important overrides bootstrap or anything really */
    background-color: #ffffff !important;
    color: #000 !important;

    font-weight: 900;
    font-size: 1.406rem; /* "30" px */

    height: 3.516rem !important; /* "75" px */
    padding-left: 1.7rem !important;
    padding-right: 0 !important;
    display: flex;
    align-items: center;

    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.2) !important;

    /* rounded bottom corners */
    border-bottom-left-radius: 11px !important;
    border-bottom-right-radius: 11px !important;
}

/* nav links container */
.navbar.sopro-navbar .navbar-nav {
    display: flex;
    gap: 1.7rem !important;
    padding-right: 1.172rem;
    height: 50px;
}

/* menu items */
.navbar.sopro-navbar .nav-link {
    color: #000;
    font-weight: bold;
    font-size: 1.406rem;

    text-decoration: none !important;
    display: inline-block;
    position: relative;
}
.nav-link.active {
  color: #e61d47 !important;
}

/* logo/text on the left */
.navbar.sopro-navbar .navbar-brand {
    color: #000 !important;
    font-weight: bold;
    margin-right: 0.5rem;
}

/* makandra logo */
.navbar-brand img {
    max-height: 2rem;
    height: auto;
    width: auto;
    vertical-align: middle;
}

nav.navbar .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* pseudo element, is the underline animaton */
.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 3px;
    width: 0%;
    height: 2px; /* Thickness of the underline */
    background-color: black;
    border-radius: 11px;

    /* animation */
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}
.nav-link.active::after {
  background-color: #e61d47;
  width: 100%;
}

.nav-link:hover::after {
    width: 100%;
}

/* STATUS AND ROLE TAGS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sopro-tag {
  height: 22px; /* "25" px */
  width: 82.5px;   /* "110" px */

  font-size: 16px;  /* "20" px */
  font-weight: 900;
  color: black;
  user-select: none; /* prevents text selection */

  border: 1px solid black;

  background-color: blue; /* debug */

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 11px;
}
.sopro-tag.open {
  background-color: white;
}
.sopro-tag.skipped {
  background-color: white;

  border-color: #afafaf;

  color: #afafaf;
}
.sopro-tag.started {
  background-color: #ffc0d3;
}
.sopro-tag.finished {
  background-color: #a76a7d;
}
.sopro-tag.rejected {
  background-color: #ffb199;
}
.sopro-tag.accepted {
  background-color: #e61d47;
}
.sopro-tag.rated {
  background-color: #dbdbdb;
}

/* IDENTITY PAGES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.nav-pills .nav-link.active {
  background-color: #e61d47;
  color: white !important;
}

.btn-primary {
  border: none;
  background-color: #e61d47;
}

.nav-pills .nav-link {
  color: black;
}
