/* mostly by schleale 
Notes:  .name         for class="name"
        .name.name2    for class="name name2"
        .name .name2   for class="name" ... (sub)class="name2"*/

/* Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-size: 14px;

  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  /* size for screens >768px wide, aka basically standard size*/
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  /* set font globally */
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

/* custom drop shadow + round corners */
.sopro-card {
  box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.2) !important;
  border-radius: 11px;
  background-color: white;
  min-height: 0;  /* to allow scrollbars */
  height: 100%;
}
.sopro-card.big-header {
  display: grid;
  grid-template-rows: 4.688rem 1fr; /* "100" px header bar */
}
.sopro-card.small-header {
  display: grid;
  grid-template-rows: 3.516rem 1fr; /* "75" px header bar */
}
.sopro-card .header {
  display: flex;
  align-items: center;
  padding-left: 1.172rem; /* "25" px */

  width: 100%;
  height: 100%;
}
.sopro-card .header.thiccboi {
  color: #e61d47;
  font-weight: 900;  /* oh boi he thicc */
  font-size: 1.406rem;  /* "30" px */
}

.sopro-inner-card {
  box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 0.07) !important;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;

  background-color: #f2f2f2;
}
.sopro-inner-card.flex {
    /* alignment */
    display: flex;
    flex-direction: column; /* only vertically */
    align-items: flex-start;  /* align left */

    row-gap: 1.172rem;  /* "25" px */
    padding: 1.172rem;  /* "25" px */
    padding-right: calc(1.172rem + 11px);

    /* scrollability */
    height: 100%;
    overflow-y: auto;
}
.sopro-inner-card.flex::-webkit-scrollbar {
  width: 8px;
}
.sopro-inner-card.flex::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.sopro-grid-management {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;  /* "100" px header, fill rest */

  padding: 3.516rem;    /* "75" px distance to screen edges and navbar*/
  column-gap: 2.344rem; /* "50" px */
  row-gap: 1.172rem;    /* "25" px */

  background-image: linear-gradient(to right, #f9f6f6, #dccfd3);
}

/* splis the "100"px bar at the top */
.sopro-grid-management .split-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  column-gap: 2.344rem; /* "50" px */
}

.sopro-button-content {
  height: 2.813rem; /* "60" px */
  min-width: 5.859rem; /* "125" px */
  cursor: pointer;
  
  font-size: 1rem; /* "20" px */
  font-weight: 450;

  border-radius: 11px;
  background-color: #e61d47;
  transition: background-color 0.2s ease;
}

.sopro-button-content:hover {
  filter: brightness(0.9);
}

.sopro-button-header {
  height: 2.813rem;  /* "60" px */
  min-width: 7.031rem; /* "150" px */
  cursor: pointer;

  font-size: 1.406; /* "30" px */
  font-weight: 450;

  border-radius: 11px;
  background-color: #e61d47;
  transition: background-color 0.2s ease;
}

.sopro-button-header:hover {
  filter: brightness(0.9);
}

/* NAVBAR STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* overall container */
.navbar.sopro-navbar {
    /* !important overrides bootstrap or anything really */
    background-color: #ffffff !important;
    color: #000 !important;

    font-weight: bold;
    font-size: 1.406rem; /* "30" px */

    height: 3.516rem !important; /* "75" px */
    padding-left: 1.7rem !important;
    padding-right: 0 !important;
    display: flex;
    align-items: center;

    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.2) !important;

    /* rounded bottom corners */
    border-bottom-left-radius: 11px !important;
    border-bottom-right-radius: 11px !important;
}

/* nav links container */
.navbar.sopro-navbar .navbar-nav {
    display: flex;
    gap: 1.7rem !important;
}

/* menu items */
.navbar.sopro-navbar .nav-link {
    color: #000 !important;
    font-weight: bold;
    font-size: 1.406rem;

    text-decoration: none !important;
    display: inline-block;
    position: relative;
}

/* logo/text on the left */
.navbar.sopro-navbar .navbar-brand {
    color: #000 !important;
    font-weight: bold;
    font-size: 1.406rem;
    margin-right: 0.5rem;
}

/* makandra logo */
.navbar-brand img {
    max-height: 2.6rem;
    height: auto;
    width: auto;
    vertical-align: middle;
}

nav.navbar .container-fluid {
    padding-right: 0 !important;
}

/* pseudo element, is the underline animaton */
.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 3px;
    width: 0%;
    height: 2px; /* Thickness of the underline */
    background-color: black;
    border-radius: 11px;

    /* animation */
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

/* STATUS AND ROLE TAGS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sopro-tag {
  height: 18,75px; /* "25" px */
  width: 82.5px;   /* "110" px */

  font-size: 16px;  /* "20" px */
  font-weight: 450;
  color: white;
  user-select: none; /* prevents text selection */

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 11px;
}
.sopro-tag-open {
  background-color: #626262;
}
.sopro-tag-skipped {
  background-color: #dbdbdb;
}
.sopro-tag-started {
  background-color: #ffb199;
}
.sopro-tag-finished {
  background-color: #fb6770;
}
.sopro-tag-rejected {
  background-color: #e61d47;
}
.sopro-tag-accepted {
  background-image: linear-gradient(to right, #e61d47, #ffb199);
}
.sopro-tag-rated {
  background-color: #dbdbdb;
  color: #000000;
}
